<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exporterConfiguration" type="SimpleConfig.Section, SimpleConfig"/>
  </configSections>
  <exporterConfiguration>
    <exchangeServer endpointTemplate="https://{0}/EWS/Exchange.asmx" host="EXCHANGE_SERVER" />
    <messageQueue host="mq" username="guest" password="guest" virtualHost="/" port="5672"/>
    <credentials login="Administrator" password="passwd" domain="my.domain.org"/>
  </exporterConfiguration>
</configuration>
